name: Pylint

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install -r ./requirements/base.txt
      - name: Analysing the code with pylint
        run: |
          pylint --ignore=migrations,admin.py,models.py $(git ls-files '*.py')
